html,
body{
    height:100%;
    width:100%;
    margin: 0;
    font-family: var(--font);
}

.content{
    background: var(--lightGray);
    max-width: 70rem;
    margin: 0 auto;
    display: flex;
    max-height: 100%;
    flex-direction: column;
    padding: 0.7rem;
}

.main-part{
display: grid;
grid-template-columns: 13rem 1fr;
}

.main-part img{
height: 12rem;
width: 12rem;
}

.main-info{
display: flex;
justify-content: space-between;
}

.main-info h2{
margin: 0;
color: var(--blue);
display: inline-block;
}

.main-info h2:hover{
color:var(--orange);
}

.wrapper{
padding: 0.7rem;
border: 1px solid var(--lightGray);
}

article{
background-color: var(--white);
padding: 0.7rem 0.7rem 0rem 0.7rem;
}

.stars{
font-size: 0.8rem;
display: flex;
align-items: center;
}

.stars-right{
display: inline-block;
}

.like-icon{
color: var(--yellow);
font-size: 1.2rem;
margin-left: 0.3rem;
}

.tags{
color: var(--blue);
text-decoration: underline;
font-size: 0.8rem;
font-weight: bold;
}

.tags span{
margin-right: 0.4rem;
}

.mark-area{
display: flex;
}
.mark-left{
text-align: right;
height: 2.4rem;
line-height: 1.2rem;
}

.rate-world{
color: var(--darkBlue);
font-weight: 600;
display: block;
}

.rate-num{
background: var(--darkBlue);
color: var(--white);
padding: 0.5rem;
border-radius: 0.5rem 0.5rem 0.5rem 0;
height: 1.4rem;
margin-left: 0.5rem;
}

.rate-col{
font-size: 0.8rem;
}

.rec-mark{
background-color: rgb(219 239 255 / 18%);
font-weight: 500;
font-size: 0.8rem;
margin-top: 0.3rem;
padding: 0.2rem
}

.disc-area{
display: flex;
margin-top: 0.3rem;
}

.people-col{
display: flex;
}

.disc{
display: flex;
flex-direction: column;
margin-left: 0.5rem;
font-size: 0.8rem;
}

.disc span:first-child{
color: var(--blue);
font-weight: 500;
}
.disc span:nth-child(4){
color: var(--green);
font-weight: 500;
}

.disc span:nth-child(5){
color: var(--green);
}

.disc span:nth-child(6){
color: var(--red);
font-weight: 500;
}

.price-area{
text-align: right;
font-size: 0.8rem;
margin-top: 0.3rem;
color: var(--gray);
font-weight: 500;
}

.price span:first-child{
text-decoration: line-through;;
}
.price span:nth-child(2) {
color: #111;
font-size: 1.5rem;
}

.price-area span:nth-child(3) {
display: block;
}

.see-btn{
display: inline-block;
background: var(--blue);
color:var(--white);
padding: 0.5rem;
width: 8rem;
margin-top: 0.3rem;
}

.see-btn:hover{
background-color: var(--darkBlue);
}

.see-wrap{
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}

.see-wrap .iconify{
margin-top: 0.2rem;
}

#end-art{
padding-bottom:0.7rem;
}

.heart{
position: absolute;
margin-top: 0.8rem;
margin-left: 10.5rem;
z-index: 1000;
color: var(--white);
}

.img-mark{
position: absolute;
padding: 0.3rem;
font-size: 0.8rem;
z-index: 1000;
color: var(--white);
font-weight: 600;
background: var(--green);
margin-top: 0.5rem;
margin-left: -0.6rem;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.img-mark::after {
content: '';
position: absolute;
left: -0.03rem;
top: 1.6rem;
border: 0.3rem solid transparent;
border-top: 0.3rem solid var(--green);
border-right: 0.3rem solid var(--green);
}

.add-photo{
    display: none;
}

@media all and (max-width:800px) and (min-width:300px) {
    html {
        font-size: 0.8rem;
    }
    .main-part{
        display: block;
    }
    .img-area{
        text-align: center;
    }
    .img-mark{
        display:none;
    }
    .heart{
        display: none;
    }
    .add-photo{
        display: inline-block;
    }
    .photo-area{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }
    .photo-area img{
        width: 98%;
        height: auto;
    }
    .info{
        margin-top:0.5rem;
    }
    .mark-area{
        margin-top:0.8rem;
    }

}
@media all and (min-width:1920px) {
    html{
        font-size: 1.5rem;
}
}

@media all and (min-width:2560px) {
    html{
        font-size: 1.8em;
}
}