html,
body{
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
}

body{
    background-color: var(--gray);
    font-family: var(--font);
}

main{
    margin: 0 auto;
    max-width: 1400px;
    height: 100%;
}

.header,
.main{
    margin: 0;
}

.header{
    padding: 0.5rem 1rem;
}

.wrapper{
    display: grid;
    grid-template-rows: 3.6rem 1fr;
    background-color: var(--purple);
    height: calc(100% - 3rem);
}

.logo-exit{
    display: grid;
    grid-template-columns: calc(50% + 1.5rem) 1fr;
    text-align: right;
    align-items: center;
}

.header-logo img{
    height: 2.5rem;
}

.wrapper-header{
    display: grid;
    grid-template-columns: 25% 1fr;
    align-items: center;
    font-weight: 600;
    font-size: 0.8rem;
    color: var(--white);
}

.header-logo{
    display: inline-block;
}

.user-info{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user-info img{
    height: 1.7rem;
    margin-bottom: .3rem;
}

.exit{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.exit-icon{
    font-size: 1.5rem;
    margin-left: .5rem;
}

.main{
    padding: 0 1rem;
}

.main-wrapper{
    display: grid;
    grid-template-columns: 25% 1fr;
    height: 100%;
}

.msg-form{
    display: grid;
    grid-template-rows: 1.5rem 1.5rem 1fr auto;
    background-color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    padding: 0 2rem;
}

.show-more{
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--purple);
}

.more-text{
    font-size: 0.6rem;

}

.mes-date{
    border-top: 1px solid var(--gray);
    text-align: center;
    font-size: 0.7rem;
    font-style: italic;
    padding: 0.4rem;
    opacity: 0.8;
    color: var(--purple);
}

.private-mes{
    background: var(--purple) !important;
    color: var(--white);
}

.private-mes .mes-time,
.private-mes .mes-name {
    color: var(--white) !important;
}

.mes{
    display: flex;
    width: fit-content;
    justify-content: flex-start;
    background: var(--gray);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    padding: 0.3rem;
    margin-bottom: 0.3rem;
    font-size: 0.7rem;
    border-radius:0.8rem;
}

.mes-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mes img{
    height: 1.7rem;
    margin-right: 0.5rem;
}

.mes-name{
    display: block;
    margin-bottom: 0.2rem;
    color: var(--purple);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mes-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mes-time{
    display: flex;
    align-items: flex-end;
    margin-left: 2rem;
    color: var(--purple);
}

.self-mes{
    padding-left: 1rem;
}

.toself{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.self-user-info{
    display: flex;
    align-items: center;
    background-color: var(--purple);
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    padding: 0.3rem 0.5rem;
    margin-right: -1rem;
    margin-top: -0.2rem;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
}

.self-user-info img{
    height: 1.7rem;
}

.self-user-info span{
    color: var(--white);
    font-size:0.7rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.toself:hover .self-user-info{
    display:none;
}

.toself:hover .self-edit{
    display: flex;
}

.self-edit{
    display:none;
    align-items: center;
    background-color: var(--purple);
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    padding: 0.6rem 0.5rem;
    margin-right: -1rem;
    margin-top: -0.2rem;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    color: var(--white);
}

.del{
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.input-form{
    background: var(--purple);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 1fr 10%;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding: 0.7rem;
}

.input-area{
    background: var(--white);
    border-radius: 3rem;
    padding: 0.3rem 0.8rem;
}

.input-area input,
.search-area input{
    border: none;
}

.input-area input:focus,
.search-area input:focus{
    outline: none;
}
.input-area input::placeholder{
    color: var(--purple);
    opacity: 80%;
    font-size:0.7rem;
}

.send-btn{
    border: none;
    background: none;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 2rem;
    margin-left: 1.5rem;
}

.clip,
.smile{
    float: right;
    margin-top: 0.1rem;
    margin-left: 0.5rem;
    color: var(--purple);
}

.online-form{
    border-top: 1px solid var(--white);
}

.onl-list {
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.onl-user{
    background-color: var(--white);
    padding: 0.3rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    width:90%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.onl-user img{
    height: 2rem;
    margin-right: 0.5rem;
}

.top-arr{
    margin-bottom: 0.3rem;
}

.top-arr,
.bottom-arr{
    font-size: 1.5rem;
    color: var(--white);
}

.search-form{
    text-align: center;
    background: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--purple);
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding: 0.7rem 0.5rem;
    margin-top: 0.5rem;
    border: none;
}

.search-area{
    background: var(--gray);
    border-radius: 3rem;
    padding: 0.2rem 0.5rem;
}

.search-area input{
    background: var(--gray);
}

.icon-srch{
    margin-bottom: -0.2rem;
}

.search-icon{
    margin-right: 0.2rem;
}

footer{
    margin: 0 2rem;
}

.footer-wrap{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.footer-wrap img{
    height: 3rem;
}

.author-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.7rem;
    opacity: 0.7;
    margin-top: 0.4rem;
}

.icon-srch-mobile{
    display: none;
}

@media all and (max-width:700px) and (min-width:300px) {
    .main-wrapper{
        display:block;
    }

    .onl-list{
        display: none;
    }

    main{
        height:100%;
    }

    .main,.header{
        background: var(--purple);
    }

    .msg-form{
        display: grid;
        padding: 0 0.5rem;
        height: 100%;
    }

    .wrapper-header{
        grid-template-columns: 33% 67%;
    }

    .wrapper{
        display: block;
        height: 100%;
        display: grid;
        grid-template-rows: auto 1fr;
    }

    .main-wrapper{
        display: block;
    }

    .input-area{
        height: 1.5rem;
    }

    .input-area input{
        width: 70%;
    }

    .send-btn{
        margin-left: 0;
    }
    footer{
        display:none;
    }

    .logo-exit{
        text-align: center;
    }

    .online-form {
        border-top: none;
}
    .icon-srch-mobile{
        display:inline-block;
        font-size: 1rem;
        margin-right: 0.5rem;
        margin-bottom: 0.1rem;
    }
}




